In [2]:
import openpyxl
from openpyxl import Workbook, worksheet
import pandas as pd
wb= Workbook()
dest_filename = 'empty_book.xlsx'
import os
import glob
from openpyxl import load_workbook
path = 'C://Users/Akash/New folder (4)/temptracker/week 5/'
extension = 'csv'
os.chdir(path)
files = glob.glob('*.{}'.format(extension))
files

['agartala.csv',
 'agra.csv',
 'ahmedabad.csv',
 'aizawl.csv',
 'aligarh.csv',
 'allahabad.csv',
 'amaravati.csv',
 'amravati.csv',
 'amritsar.csv',
 'aurangabad.csv',
 'bareilly.csv',
 'bengaluru.csv',
 'bhavnagar.csv',
 'bhilai-nagar.csv',
 'bhopal.csv',
 'bhubaneswar.csv',
 'bikaner.csv',
 'chandigarh.csv',
 'chennai.csv',
 'coimbatore.csv',
 'cuttack.csv',
 'dehradun.csv',
 'delhi.csv',
 'dhanbad.csv',
 'faridabad.csv',
 'firozabad.csv',
 'gandhinagar.csv',
 'gangtok.csv',
 'ghaziabad.csv',
 'gorakhpur.csv',
 'guntur.csv',
 'gurgaon.csv',
 'guwahati.csv',
 'gwalior.csv',
 'hubli-dharwad.csv',
 'hyderabad.csv',
 'imphal.csv',
 'indore.csv',
 'jabalpur.csv',
 'jaipur.csv',
 'jalandhar.csv',
 'jalgaon.csv',
 'jammu.csv',
 'jamshedpur.csv',
 'jodhpur.csv',
 'kanpur.csv',
 'kochi.csv',
 'kolkata.csv',
 'kota.csv',
 'lucknow.csv',
 'ludhiana.csv',
 'madurai.csv',
 'meerut.csv',
 'moradabad.csv',
 'mumbai.csv',
 'mysore.csv',
 'nagpur.csv',
 'nashik.csv',
 'nellore.csv',
 'new-delhi.csv',
 'noida.csv',
 'patna.csv',
 'pondicherry.csv',
 'pune.csv',
 'raipur.csv',
 'rajkot.csv',
 'ranchi.csv',
 'saharanpur.csv',
 'salem.csv',
 'shimla.csv',
 'solapur.csv',
 'srinagar.csv',
 'surat.csv',
 'thiruvananthapuram.csv',
 'tiruchirappalli.csv',
 'tiruppur.csv',
 'vadodara.csv',
 'varanasi.csv',
 'visakhapatnam.csv',
 'warangal.csv']

In [3]:
wb= load_workbook(filename="C://Users/Akash/New folder (4)/temptracker/tracker5.xlsx")
# dest_filename = 'empty_book.xlsx'
# wb.create_sheet('mintemp')
ws1 = wb["mintemp"]
from openpyxl.utils import get_column_letter
for i in range(7, len(files)+7):
    df=pd.read_csv(files[i-7],  parse_dates=['Date'])
    temp = list(df['MinTemp'])
    for j in range(len(temp)):
        ws1[get_column_letter(j+4)+ str(i)]=temp[j]
char = get_column_letter(3)
for i in range(7, len(files)+7):
    ws1[char+str(i)] = files[i-7].split('.')[0]
i=8
df=pd.read_csv(files[i-7])
temp = list(df['Date'])
i=6
for j in range(len(temp)):
    ws1[get_column_letter(j+4)+ str(i)]=temp[j]
# for j in range(len(temp)):
#     ws1[get_column_letter(j+4)+ str(5)]="=datevalue("+ get_column_letter(j+4)+ str(i)+")"
for i in range(11,38,8):
    ws1.insert_cols(i)
# for j in range(len(temp)):
#     ws1[get_column_letter(j+4)+ str(5)]="=datevalue("+ get_column_letter(j+4)+ str(i)+")"
for j in range(11,38,8):
    ws1[get_column_letter(j)+ str(6)]='Weekly Average'
# for i in range(7,86):
#     ws1[get_column_letter(7)+ str(i)]= "=AVERAGE(D" + str(i)+":"+ "F"+ str(i)+")" 
for i in range(7,86):
    for j in range (11,38,8):
        ws1[get_column_letter(j)+ str(i)]= "=AVERAGE("+get_column_letter(j-7) + str(i)+":"+ get_column_letter(j-1)+ str(i)+")"

In [4]:
wb.save("tracker6.xlsx")

In [5]:
%pwd

'C:\\Users\\Akash\\New folder (4)\\temptracker\\week 5'

In [5]:
wb.active

In [7]:
ws.mintemp

NameError: name 'ws' is not defined

In [8]:
"mintemp"=wb.active

SyntaxError: cannot assign to literal (Temp/ipykernel_6440/1651362772.py, line 1)

In [59]:
df

    Unnamed: 0  MaxTemp  MinTemp             Date
0            5       34       27   1 October 2021
1            6       35       27   2 October 2021
2            7       36       27   3 October 2021
3            8       34       24   4 October 2021
4            9       33       22   5 October 2021
5           10       35       22   6 October 2021
6           11       35       22   7 October 2021
7           12       36       23   8 October 2021
8           13       37       22   9 October 2021
9           14       34       22  10 October 2021
10          15       34       22  11 October 2021
11          16       34       21  12 October 2021
12          17       35       20  13 October 2021
13          18       34       20  14 October 2021
14          19       34       20  15 October 2021
15          20       33       20  16 October 2021
16          21       32       20  17 October 2021
17          22       33       18  18 October 2021
18          23       33       19  19 October 2021
19          24       32       19  20 October 2021
20          25       32       18  21 October 2021
21          26       33       18  22 October 2021
22          27       33       18  23 October 2021
23          28       33       17  24 October 2021
24          29       32       17  25 October 2021
25          30       32       17  26 October 2021
26          31       32       17  27 October 2021
27          32       31       16  28 October 2021
28          33       32       16  29 October 2021
29          34       31       17  30 October 2021
30          35       30       13  31 October 2021

In [12]:
ws

In [16]:
ws1 = "mintemp"

In [19]:
ws.active = "Sheet"

In [20]:
ws.active

'Sheet'

In [21]:
ws

In [31]:
ws.active="mintemp"

In [32]:
ws1 = ws.active

In [33]:
ws1

'mintemp'

In [34]:
type(ws1)

str

In [35]:
type(ws.active)

str

In [37]:
ws1 = wb.active

In [39]:
ws1 = wb["mintemp"]

In [40]:
ws1

In [44]:
from openpyxl.utils import get_column_letter
for i in range(7, len(files)+7):
    df=pd.read_csv(files[i-7])
    temp = list(df['MinTemp'])
    for j in range(len(temp)):
        ws1[get_column_letter(j+4)+ str(i)]=temp[j]

In [45]:
wb.save("tracker.xlsx")